:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.logo {
  margin: auto;
  display: block;
}

#chat-log {
  flex-grow: 1;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 11px;
  padding-left: 0px;
  margin-bottom: 5.5px;
  min-height: 0;
  list-style-type: none;
}

#chat-form {
  flex-grow: 0;
  display: flex;
  padding: 5px;
}

#chat-log li {
  border-radius: 20px;
  padding: 7px 12px;
  margin-bottom: 5.5px;
  max-width: 60%;
  clear: both;
}
#chat-log .peer {
  color: #1a1a1a;
  background: #e8e8ea;
  margin-left: 10px;
  text-align: left;
  float: left;
}
#chat-log .self {
  background: #0082fa;
  margin-right: 10px;
  color: #fff;
  float: right;
  text-align: left;
}

#chat-form button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0082fa;
  color: #eee;
  width: 70px;
  height: 40px;
  border-radius: 20px;
  padding: 0; /* Remove padding */
  border: none; /* Optional: Removes border */
}

#chat-form button:active {
  background-color: #0158aa;
}

#chat-form button:focus {
  outline: none;
  border: none;
}

#chat-form button img {
  width: 50%; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
}
#chat-form input {
  flex: 1 1 100%;
  padding: 9px;
  margin-right: 5.5px;
  border: 2px solid #aaa;
  border-radius: 20px;
  outline: 0;
  background-color: #f0f0f0;
  color: #000;
}
